@model MiVeterinaria.Models.AccountDb

@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html>
<head>
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" type="text/css" href="~/Content/styles.css" />
</head>
<body>
    <div class="row">
        <div class="animate__animated animate__backInLeft col-md-8 offset-2">
            <div class="card-header">
                <h3>  <strong>Iniciar Sessión</strong> </h3>
            </div>
            <section>
                <form id="loginForm">
                    <div class="form-group">
                        <label for="username">Usuario</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <button type="button" id="loginButton" class="btn btn-primary" onclick="Login()">Iniciar sesión</button> |

                        <a href="@Url.Action("Registro", "Usuarios")" class="btn btn-info">Registrarse</a>
                    </div>
                </form>
            </section>
        </div>
    </div>
</body>
</html>



